<header>
    <span>
        <a routerLink="home" class="logo">SOVIS</a>
    </span>

    <nav>
        <a routerLink="home">Home</a>
        <a routerLink="categoria">Categoria</a>
        <a routerLink="produtos">Produto</a>
    </nav>

    <div class="shopping-cart">
      <a routerLink="/carrinho">
        <img src="../assets/shopping-cart.png" alt="">
        <div class="circle">
         {{quantidade}}
        </div>
      </a>
    </div>



</header>
<div class="container">
    <router-outlet></router-outlet>
</div>