<table class="table">

  <thead>
    <tr>
      <th>#</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of carrinho">
      <td>{{item.prdCodigo}}</td>
      <td>{{item.prdTitulo}}</td>
      <td>{{item.quantidade}}</td>
      <td>{{item.quantidade * item.prdValor}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Total: {{total}}</td>
    </tr>
</tbody>
</table>

<a routerLink="/finalizar" class="btn btn-primary right">Finalizar Compra</a>

